/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #000000;
    color: rgb(234, 230, 230);
}

.logo img {
    height: 70px;
}

section h2 {
    line-height: 30px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 25px;
}

header ul li a {
    color: #ff1e1e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #f1efe7;
}

/* Main Section */
main {
    padding: 10px;
}

main section {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* First Section (hero section) */
main section:first-of-type {
    background: url('img/bg.png') no-repeat center center/cover;
    filter:brightness(0.8);
    color: #ffffff;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

main section:first-of-type img {
    height: 100px;
    object-fit: cover;
}

main section:first-of-type p {
    font-size: 28px;
    margin-top: 20px;
    color: #ffffff;
    text-shadow: 8px 8px 8px #000;
}

main section:first-of-type input {
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Second Section (Food Delivery Info) */
main section:nth-of-type(2) {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

main section:nth-of-type(2) h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #e23744;
}

main section:nth-of-type(2) p {
    font-size: 18px;
    margin-bottom: 20px;
}

.main-features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    width: 250px;
    background-color: #e23744;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

.intro:hover {
    transform: scale(1.05);
    transform-style: preserve-3d;
}

.feature:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #e23744;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.ntg {
    line-height: 40px;
}

.intro {
    transition: all 0.5s;
}